body {
    font-family: 'Roboto', sans-serif;
    background-color: #fffdf9;
}

#heading {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.divider {
    border-top: solid 2px grey;
    margin: 10px auto;
}

.dl-divider {
    border-top: solid 1px black;
    width: 75%;
    margin: 0 auto;
}

#counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.conf-card {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    border: solid 2px grey;
    text-align: center; 
    margin: 1em;
    background-color: #f1f1f1;
}

.conf-info {
    padding: 0 0.5em;
}

.society {
    margin-right: 0.25em;
}

.conf-link {
    display: block;
}

.time-wrapper {
    text-align: center;
    width: 100%;
}

.valueColumn {
    width: 50%;
    text-align: right;
    padding-right: 1em;
}

.switchColumn {
    width: 30%;
    text-align: left;
}

.time-left {
    font-size: 4em;
    font-weight: 800;
    color: red;
    margin: 0;
}

.time-switch-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: left;
}

.time-display-switch {
    border: none;
    background-color: transparent;
}

.time-display-switch:active {
    color: red;
}

.time-display-switch:hover {
    color: darkred;
}

.dl-date {
    font-weight: 800;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.active {
    color: red !important;
    font-weight: 600;
}

.inactive {
    color: black;
}
