body {
    font-family: 'Roboto', sans-serif;
}

#heading {
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.divider {
    border-top: solid 1px black;
    width: 75%;
    margin: 10px auto;
}

#counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.conf-div {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    border: solid 2px grey;
    text-align: center; 
    margin: 1em;
    padding: 0 0.5em;
}

.conf-abbrv {
}

.conf-title {

}

.society {
    margin-right: 0.25em;
}

.conf-link {
    display: block;
}

.time-left {
    font-size: 3em;
    font-weight: 800;
    color: red;
    margin: 0;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.active {
    color: red;
}

.inactive {
    color: black;
}

.time-switch-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.time-switch-group > li {

    display: inline-block;
}

.time-display-switch {
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.time-display-switch:active {
    color: red;
}

.dl-date {
    font-weight: 800;
}

.deadline-desc {

}
